html {
  margin: 0;
  background: black;
}

#audioFileUpload,
#bgSelect {
  visibility: hidden;
}

#songSelectLabel,
#bgSelectLabel {
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-top: 3em;
  border-color: white;
  background: linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}

.controlButton {
  margin-top: 3em;
  height: 125px;
}

.controlButton:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.controlButton a,
.controlButton a:visited {
  border: 2px solid burlywood;
}

.controlButton a:hover,
.controlButton a:active {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
  border: 4px solid aquamarine;
}

.controlButton a {
  background: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

canvas {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/images/bg.jpg') no-repeat center center;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.width50px {
  width: 50px;
}

.h-100 {
  height: 100%;
}

.text-white {
  color: white;
}

.p-absolute {
  position: absolute;
}

.white {
  color: #fff;
}

.transparentBg {
  background: transparent;
}

.noBorder {
  border: none;
}

.cursorPointer:hover {
  cursor: pointer;
}

#colorSchemeContainer {
  right: 0;
  top: 4em;
}

.colorSchemeSelector {
  height: 50px;
  width: 100px;
}

#logo {
  width: 100%;
  max-width: 400px;
}

input[type="file"] {
  bottom: 2em;
  left: 2em;
}

#arrows button {
  background: transparent;
  border: none;
}

#audioContainer {
  bottom: 4em;
  z-index: 5000;
  display: none;
}

#controlPanel {
  background: rgb(45, 46, 59);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
}

#playState {
  display: none;
  z-index: 5000;
}

/* Material Icons */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-200 {
  font-size: 200px;
}